.peach-welcome {
    margin-left: -26px;
    margin-right: -26px;
    height: 100%;
    justify-content: center;
    animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.peach-welcome-titles {
  h1 {
    font-size: 24px;
    padding: 0;
    color: #5da246;
    margin: 0;
  }

  h2 {
    font-size: 16px;
    color: #999;
    margin: 0;
    padding-top: 10px;
  }
}

.peach-welcome-info {
  padding-top: 40px;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.peach-info-scan-button button {
  height: 50px !important;
  div {
      height: 50px !important;
  }
  span {
      line-height: 50px !important;
  }
}